<div class="page-header">
  <h1>Hire Me</h1>
</div>

<section class="search-box">
  <form id="search" action="/">
    <input type="text" placeholder='github username, like "mojombo"' class="span12" id="github-username" name="username">
    <input type="submit" value="Go!" class="span2 btn success">
  </form>
</section>