<!doctype html>

<html>
<head>
  <title><%= @title || "Hire Me" %></title>
</head>

<body>
  <%= yield %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="/js/highcharts.js" type="text/javascript"></script>
  <script src="/js/application.js" type="text/javascript"></script>
</body>
</html>