<h1><%= @username %>'s Profile</h1>

<section>
<h2>Stats</h2>

<!-- para lang-stats, USAR COMILLAS SIMPLES -->
<div id="container"
  class="lang-stats highcharts-container"
  data-lang-stats='<%= @lang_stats %>'
  style="height:410px; margin: 0 2em; clear:both; min-width: 600px"></div>
</section>