<h1><%= @username %>'s Profile</h1>

<section>
<h2>Stats</h2>

<!-- para lang-stats, USAR COMILLAS SIMPLES -->
<div id="container"
  class="pie-chart highcharts-container"
  data-pie-chart-data='<%= @lang_stats %>'
  data-series-name="Language Share"
  style="height:410px; margin: 0 2em; clear:both; min-width: 600px"></div>
</section>